---
clusterName: metal
talosVersion: v1.5.5
kubernetesVersion: v1.28.3
endpoint: https://${CLUSTER_ENDPOINT_IP}:6443

cniConfig:
  name: none

nodes:
  - hostname: hades
    disableSearchDomain: true
    ipAddress: 192.168.20.23
    controlPlane: true
    installDisk: /dev/sda
    nameservers:
      - 192.168.20.1
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.20.23/24
        mtu: 0
        dhcp: true
        vip:
          ip: ${CLUSTER_ENDPOINT_IP}
    patches:
      - |-
        machine:
          install:
            extraKernelArgs:
              - talos.board=rpi_generic

  - hostname: poseidon
    disableSearchDomain: true
    ipAddress: 192.168.20.24
    controlPlane: true
    installDisk: /dev/nvme0n1
    nameservers:
      - 192.168.20.1
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.20.24/24
        mtu: 0
        dhcp: true
        vlans:
          - vlanId: 71
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096
        vip:
          ip: ${CLUSTER_ENDPOINT_IP}
    patches:
      - |-
        machine:
          install:
            extensions:
              - image: ghcr.io/siderolabs/i915-ucode:20230310
              - image: ghcr.io/siderolabs/intel-ucode:20230512

  - hostname: zeus
    disableSearchDomain: true
    ipAddress: 192.168.20.25
    controlPlane: true
    installDisk: /dev/nvme0n1
    nameservers:
      - 192.168.20.1
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.20.25/24
        mtu: 0
        dhcp: true
        vlans:
          - vlanId: 71
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096
        vip:
          ip: ${CLUSTER_ENDPOINT_IP}
    patches:
      - |-
        machine:
          install:
            extensions:
              - image: ghcr.io/siderolabs/i915-ucode:20230310
              - image: ghcr.io/siderolabs/intel-ucode:20230512

  - hostname: helios
    disableSearchDomain: true
    ipAddress: 192.168.20.21
    controlPlane: false
    installDisk: /dev/nvme0n1
    nameservers:
      - 192.168.20.1
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.20.21/24
        mtu: 0
        dhcp: true
        vlans:
          - vlanId: 71
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096

  - hostname: iris
    disableSearchDomain: true
    ipAddress: 192.168.20.26
    controlPlane: false
    installDisk: /dev/nvme0n1
    nameservers:
      - 192.168.20.1
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.20.26/24
        mtu: 0
        dhcp: true
        vlans:
          - vlanId: 71
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096

controlPlane:
  patches:
    - |-
      cluster:
        allowSchedulingOnMasters: false
        proxy:
          disabled: true
        discovery:
          registries:
            service:
              disabled: true
        extraManifests:
          - https://raw.githubusercontent.com/ahinko/home-ops/main/infrastructure/talos/integrations/cni/cilium.yaml
          - https://raw.githubusercontent.com/ahinko/home-ops/main/infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml

    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.grpc.v1.cri"]
                  enable_unprivileged_ports = true
                  enable_unprivileged_icmp = true

        kubelet:
          extraArgs:
            feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.20.0/24

        sysctls:
          fs.inotify.max_user_watches: "1048576"
          fs.inotify.max_user_instances: "8192"

        time:
          disabled: false
          servers:
            - gbg2.ntp.se
            - sth1.ntp.se

worker:
  patches:
    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.grpc.v1.cri"]
                  enable_unprivileged_ports = true
                  enable_unprivileged_icmp = true

        kubelet:
          extraArgs:
            feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.20.0/24

        install:
          extensions:
            - image: ghcr.io/siderolabs/i915-ucode:20230310
            - image: ghcr.io/siderolabs/intel-ucode:20230512

        sysctls:
          fs.inotify.max_user_watches: "1048576"
          fs.inotify.max_user_instances: "8192"

        time:
          disabled: false
          servers:
            - gbg2.ntp.se
            - sth1.ntp.se
