---
clusterName: mainframe
endpoint: https://192.168.20.30:6443

talosVersion: v1.9.5
kubernetesVersion: v1.32.3

additionalApiServerCertSans:
  - 127.0.0.1 # KubePrism

additionalMachineCertSans:
  - &clusterEndpointIp 192.168.20.30
  - 127.0.0.1 # KubePrism

cniConfig:
  name: none

nodes:
  - hostname: cp01
    ipAddress: 192.168.20.31
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: d8:3a:dd:b1:68:3e
        addresses:
          - 192.168.20.31/24
        dhcp: true
        vip:
          ip: *clusterEndpointIp
    schematic: &rpi-schematic
      overlay:
        image: siderolabs/sbc-raspberrypi
        name: rpi_generic
      customization:
        extraKernelArgs:
          - apparmor=0 # Less security, more speed
          - init_on_alloc=0 # Less security, more speed
          - init_on_free=0 # Less security, more speed
          - mitigations=off # Less security, more speed
          - security=none # Less security, more speed
          - net.ifnames=1 # Enable predictable NIC naming

  - hostname: cp02
    ipAddress: 192.168.20.32
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: e4:5f:01:86:fc:a0
        addresses:
          - 192.168.20.32/24
        dhcp: true
        vip:
          ip: *clusterEndpointIp
    schematic: *rpi-schematic

  - hostname: cp03
    ipAddress: 192.168.20.38
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 2c:cf:67:36:7f:45
        addresses:
          - 192.168.20.38/24
        dhcp: true
        vip:
          ip: *clusterEndpointIp
    schematic: *rpi-schematic

  - hostname: w01
    ipAddress: 192.168.20.34
    controlPlane: false
    installDiskSelector:
      type: ssd
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 20:7b:d2:c3:1f:34
        addresses:
          - 192.168.20.34/24
        dhcp: true
    schematic: &nuc-schematic
      customization:
        extraKernelArgs:
          - apparmor=0 # Less security, more speed
          - init_on_alloc=0 # Less security, more speed
          - init_on_free=0 # Less security, more speed
          - intel_iommu=on # PCI Passthrough
          - iommu=pt # PCI Passthrough
          - mitigations=off # Less security, more speed
          - security=none # Less security, more speed
          - net.ifnames=1 # Enable predictable NIC naming
        systemExtensions:
          officialExtensions:
            - siderolabs/usb-modem-drivers
            - siderolabs/i915
            - siderolabs/intel-ucode
    patches:
      - &nuc-patches |-
        machine:
          kernel:
            modules:
              - name: usbserial
              - name: ax88179_178a
          kubelet:
            extraMounts:
              - destination: /var/openebs/local
                type: bind
                source: /var/openebs/local
                options:
                  - bind
                  - rshared
                  - rw

  - hostname: w02
    ipAddress: 192.168.20.35
    controlPlane: false
    installDiskSelector:
      type: ssd
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 20:7b:d2:b1:b8:7c
        addresses:
          - 192.168.20.35/24
        dhcp: true
    schematic: *nuc-schematic
    patches:
      - *nuc-patches

  - hostname: w03
    ipAddress: 192.168.20.36
    controlPlane: false
    installDiskSelector:
      type: ssd
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 20:7b:d2:ae:a5:09
        addresses:
          - 192.168.20.36/24
        dhcp: true
    schematic: *nuc-schematic
    patches:
      - *nuc-patches

  - hostname: w04
    ipAddress: 192.168.20.33
    controlPlane: false
    installDiskSelector:
      type: ssd
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 20:7b:d2:aa:f2:bd
        addresses:
          - 192.168.20.33/24
        dhcp: true
    schematic: *nuc-schematic
    patches:
      - *nuc-patches

  - hostname: s01
    ipAddress: 192.168.20.37
    controlPlane: false
    installDiskSelector:
      serial: "S4EVNM0R816141L"
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 70:85:c2:a7:61:bf
        addresses:
          - 192.168.20.37/24
        dhcp: true
    kernelModules:
      - name: zfs
    schematic:
      customization:
        extraKernelArgs:
          - apparmor=0 # Less security, more speed
          - init_on_alloc=0 # Less security, more speed
          - init_on_free=0 # Less security, more speed
          - intel_iommu=on # PCI Passthrough
          - iommu=pt # PCI Passthrough
          - mitigations=off # Less security, more speed
          - security=none # Less security, more speed
          - net.ifnames=1 # Enable predictable NIC naming
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/zfs
    patches:
      - |-
        machine:
          kubelet:
            extraMounts:
              - destination: /var/mnt
                type: bind
                source: /var/mnt
                options:
                  - bind
                  - rshared
                  - rw
              - destination: /var/openebs/local
                type: bind
                source: /var/openebs/local
                options:
                  - bind
                  - rshared
                  - rw
          udev:
            rules:
              # set all disks to `none` scheduler (optimal setting for Ceph and ZFS)
              - SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ATTR{queue/scheduler}="none"

controlPlane:
  patches:
    # Disable search domain everywhere
    - &disableSearchDomainPatch |-
      machine:
        network:
          disableSearchDomain: true

    # Force nameserver
    - &nameServersPatch |-
      machine:
        network:
          nameservers:
            - 192.168.20.1

    # Configure NTP
    - &timeServersPatch |-
      machine:
        time:
          disabled: false
          servers:
            - gbg2.ntp.se
            - sth1.ntp.se

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - kube-system
              - actions-runner-system

    # Enable MutatingAdmissionPolicy
    - |-
      cluster:
        apiServer:
          extraArgs:
            runtime-config: admissionregistration.k8s.io/v1alpha1=true
            feature-gates: MutatingAdmissionPolicy=true

    # Bootstrap manifests
    - |-
      cluster:
        extraManifests:
          - # renovate: datasource=github-releases depName=kubernetes-sigs/gateway-api
            https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.2.1/experimental-install.yaml
          - # renovate: datasource=github-releases depName=prometheus-operator/prometheus-operator
            https://github.com/prometheus-operator/prometheus-operator/releases/download/v0.81.0/stripped-down-crds.yaml

    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnControlPlanes: false
        coreDNS:
          disabled: true
        proxy:
          disabled: true
        scheduler:
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway

    # Use discovery-service.
    # The previous Kubernetes discovery service is deprecated due to security changes in Kubernetes.
    # https://www.talos.dev/v1.10/talos-guides/discovery/#registries
    # https://github.com/siderolabs/talos/issues/9980
    - &clusterDiscovery |-
      cluster:
        discovery:
          enabled: true
          registries:
            kubernetes:
              disabled: true
            service:
              disabled: false

    - &hostDns |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Kubelet configuration
    - &kubeletPatch |-
      machine:
        kubelet:
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.20.0/24

    # Custom sysctls
    - &sysctlsPatch |-
      machine:
        sysctls:
          fs.inotify.max_user_instances: 8192    # Watchdog
          fs.inotify.max_user_watches: 1048576   # Watchdog
          net.core.rmem_max: 67108864            # Cloudflared / QUIC
          net.core.wmem_max: 67108864            # Cloudflared / QUIC

    # Configure containerd
    - &containerdPatch |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.cri.v1.images"]
                  discard_unpacked_layers = false

worker:
  patches:
    - *disableSearchDomainPatch
    - *nameServersPatch
    - *timeServersPatch
    - *clusterDiscovery
    - *hostDns
    - *kubeletPatch
    - *sysctlsPatch
    - *containerdPatch
