---
clusterName: metal
endpoint: https://${CLUSTER_ENDPOINT_IP}:6443

talosVersion: v1.7.0
kubernetesVersion: v1.29.4

additionalApiServerCertSans: &sans
  - ${CLUSTER_ENDPOINT_IP}
  - 127.0.0.1 # KubePrism

additionalMachineCertSans: *sans

cniConfig:
  name: none

nodes:
  - hostname: hades
    ipAddress: 192.168.20.23
    controlPlane: true
    installDisk: /dev/sda
    nameservers:
      - 192.168.20.1
    networkInterfaces:
      - interface: eth0
        addresses:
          - 192.168.20.23/24
        dhcp: true
        vip:
          ip: ${CLUSTER_ENDPOINT_IP}
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
    patches:
      - |-
        machine:
          install:
            extraKernelArgs:
              - talos.board=rpi_generic

  - hostname: atlas
    ipAddress: 192.168.20.22
    controlPlane: false
    installDisk: /dev/sda
    networkInterfaces:
      - interface: vnet1
        addresses:
          - 192.168.20.22/24
        dhcp: true

  - hostname: helios
    ipAddress: 192.168.20.21
    controlPlane: false
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 20:7b:d2:c3:*
        addresses:
          - 192.168.20.21/24
        dhcp: true
    schematic: &nuc-schematic
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/usb-modem-drivers
            - siderolabs/i915-ucode
            - siderolabs/intel-ucode
    patches:
      - &nuc-patches |-
        machine:
          kernel:
            modules:
              - name: usbserial
              - name: ax88179_178a

  - hostname: poseidon
    ipAddress: 192.168.20.24
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 20:7b:d2:aa:*
        addresses:
          - 192.168.20.24/24
        dhcp: true
        vip:
          ip: ${CLUSTER_ENDPOINT_IP}
    schematic: *nuc-schematic
    patches:
      - *nuc-patches

  - hostname: zeus
    ipAddress: 192.168.20.25
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 20:7b:d2:b1:*
        addresses:
          - 192.168.20.25/24
        dhcp: true
    schematic: *nuc-schematic
    patches:
      - *nuc-patches

  - hostname: iris
    ipAddress: 192.168.20.26
    controlPlane: false
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 20:7b:d2:ae:*
        addresses:
          - 192.168.20.26/24
        dhcp: true
    schematic: *nuc-schematic
    patches:
      - *nuc-patches

controlPlane:
  patches:
    # Disable search domain everywhere
    - &disableSearchDomainPatch |-
      machine:
        network:
          disableSearchDomain: true

    # Force nameserver
    - &nameServersPatch |-
      machine:
        network:
          nameservers:
            - 192.168.20.1

    # Configure NTP
    - &timeServersPatch |-
      machine:
        time:
          disabled: false
          servers:
            - gbg2.ntp.se
            - sth1.ntp.se

    # Enable KubePrism
    - &kubePrismPatch |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - kube-system

    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnMasters: false
        proxy:
          disabled: true

    # Configure containerd
    - &containerdConfigPatch |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins."io.containerd.grpc.v1.cri"]
                enable_unprivileged_ports = true
                enable_unprivileged_icmp = true
              [plugins."io.containerd.grpc.v1.cri".containerd]
                discard_unpacked_layers = false
              [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
                discard_unpacked_layers = false

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Kubelet configuration
    - &kubeletPatch |-
      machine:
        kubelet:
          extraArgs:
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.20.0/24

    # Custom sysctls
    - &sysctlsPatch |-
      machine:
        sysctls:
          fs.inotify.max_queued_events: "65536"
          fs.inotify.max_user_instances: "8192"
          fs.inotify.max_user_watches: "524288"
          net.core.rmem_max: "2500000"
          net.core.wmem_max: "2500000"

worker:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
      systemExtensions:
        officialExtensions:
          - siderolabs/i915-ucode
          - siderolabs/intel-ucode

  patches:
    - *disableSearchDomainPatch
    - *nameServersPatch
    - *timeServersPatch
    - *kubePrismPatch
    - *containerdConfigPatch
    - *kubeletPatch
    - *sysctlsPatch
