---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname immich
  namespace: &namespace selfhosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: postgres-cluster
      namespace: databases
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: onepassword-store
      namespace: security
    - name: dragonfly-cluster
      namespace: databases
  interval: 30m
  path: "./kubernetes/apps/selfhosted/immich/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: true
