---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uptime-kuma-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: rook-cephfs
