---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: {{ ENV.SECRET_DOMAIN }}
  SECRET_EMAIL: {{ ENV.SECRET_EMAIL }}
  SECRET_GITHUB_REPO: {{ ENV.SECRET_GITHUB_REPO }}
  SECRET_SOCIAL_DOMAIN: {{ ENV.SECRET_SOCIAL_DOMAIN }}
  SECRET_SOCIAL_CLOUDFLARE_TUNNEL_ID: {{ ENV.SECRET_SOCIAL_CLOUDFLARE_TUNNEL_ID }}
  VOLSYNC_RESTIC_PASSWORD: {{ ENV.VOLSYNC_RESTIC_PASSWORD }}
  VOLSYNC_MINIO_SECRET_ACCESS_KEY: {{ ENV.VOLSYNC_MINIO_SECRET_ACCESS_KEY }}
  VOLSYNC_MINIO_ACCESS_KEY_ID: {{ ENV.VOLSYNC_MINIO_ACCESS_KEY_ID }}
