---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      ollama:
        pod:
          nodeSelector:
            node.kubernetes.io/gpu.arc: "true"

        initContainers:
          sync-models:
            image:
              repository: intelanalytics/ipex-llm-inference-cpp-xpu
              tag: 2.3.0-SNAPSHOT
            command:
              - "/bin/sh"
              - "/scripts/sync-models.sh"

            env: &envVars
              OLLAMA_MODELS: &modelPath /models
              OLLAMA_HOST: "0.0.0.0"
              no_proxy: "localhost,127.0.0.1"
              DEVICE: "Arc"
              OLLAMA_INTEL_GPU: "true"
              OLLAMA_NUM_GPU: "999"
              ZES_ENABLE_SYSMAN: "1"

        containers:
          app:
            image:
              repository: intelanalytics/ipex-llm-inference-cpp-xpu
              tag: 2.3.0-SNAPSHOT

            command:
              - sh
              - -c
              - >-
                mkdir -p /llm/ollama && cd /llm/ollama && init-ollama && exec ./ollama serve

            env: *envVars

            resources:
              claims:
                - name: gpu
              requests:
                cpu: "2"
                memory: "8Gi"
              limits:
                cpu: "8"
                memory: "16Gi"
            securityContext:
              privileged: false
              capabilities:
                add:
                  - SYS_ADMIN

            probes:
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup: *probe

    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: ollama

    service:
      app:
        ports:
          http:
            port: 11434

    route:
      app:
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: networking

    persistence:
      models:
        type: custom
        volumeSpec:
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes:
                  - ReadWriteOnce
                storageClassName: "openebs-hostpath"
                resources:
                  requests:
                    storage: 50Gi
        advancedMounts:
          ollama:
            app:
              - path: /root/.ollama
                subPath: .ollama
              - path: *modelPath
                subPath: models
            sync-models:
              - path: /root/.ollama
                subPath: .ollama
              - path: *modelPath
                subPath: models

      model-list:
        type: configMap
        name: ollama-models
        globalMounts:
          - path: /config/models.txt
            subPath: models.txt

      sync-script:
        type: configMap
        name: ollama-sync-script
        globalMounts:
          - path: /scripts/sync-models.sh
            subPath: sync-models.sh

      dev:
        type: hostPath
        hostPath: /dev/dri
        globalMounts:
          - readOnly: true
