---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-emqx-operator
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/apps/home-automation/emqx/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-k8s
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-emqx-cluster
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  interval: 10m
  path: "./kubernetes/apps/home-automation/emqx/cluster"
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-k8s
  wait: true
  dependsOn:
    - name: apps-emqx-operator
    - name: apps-metallb
