---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app rook-ceph-cluster
  namespace: rook-ceph
spec:
  interval: 60m
  chart:
    spec:
      chart: *app
      version: v1.12.8
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
      interval: 60m
  dependsOn:
    - name: rook-ceph-operator
      namespace: rook-ceph
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # Values link: https://github.com/rook/rook/blob/release-1.11/deploy/charts/rook-ceph-cluster/values.yaml
  values:
    toolbox:
      enabled: true
      image: rook/ceph:v1.12.8

    monitoring:
      enabled: true
      createPrometheusRules: true

    configOverride: |
      [global]
      bdev_enable_discard = true
      bdev_async_discard = true
      bluefs_buffered_io = false

    ingress:
      dashboard:
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/server-snippet: |
            proxy_ssl_verify off;
        host:
          name: rook.${SECRET_DOMAIN}
          path: "/"
        tls:
          - hosts:
              - rook.${SECRET_DOMAIN}

    cephClusterSpec:
      network:
        provider: host

      # Note about ceph version. v16.2.7 was used when recreating the cluster since we had issues with
      # prepare osd pods failing. Might also have been due to resource limitations. Did change both at the same time
      # so I'm not exactly sure what the fix was.
      # cephVersion:
      # image: quay.io/ceph/ceph:v16.2.7
      dataDirHostPath: /var/lib/rook
      mon:
        count: 3
        allowMultiplePerNode: false
      dashboard:
        enabled: true

      storage: # cluster level storage configuration and selection
        useAllNodes: false
        useAllDevices: false
        config:
          osdsPerDevice: "1"

        nodes:
          - name: "zeus"
            devices:
              - name: "/dev/sda"
          - name: "helios"
            devices:
              - name: "/dev/sda"
          - name: "iris"
            devices:
              - name: "/dev/sda"
          - name: "poseidon"
            devices:
              - name: "/dev/sda"

      resources:
        mgr:
          limits:
            memory: "1Gi"
          requests:
            cpu: "100m"
            memory: "512Mi"
        mon:
          limits:
            memory: "2Gi"
          requests:
            cpu: "50m"
            memory: "500M"
        osd:
          limits:
            memory: "4Gi"
          requests:
            cpu: "50m"
            memory: "2Gi"
        mgr-sidecar:
          limits:
            memory: "100Mi"
          requests:
            cpu: "100m"
            memory: "40Mi"
        crashcollector:
          limits:
            memory: "60Mi"
          requests:
            cpu: "30m"
            memory: "60Mi"
        logcollector:
          limits:
            memory: "1Gi"
          requests:
            cpu: "100m"
            memory: "100Mi"
        cleanup:
          limits:
            memory: "1Gi"
          requests:
            cpu: "200m"
            memory: "100Mi"

    cephFileSystems:
      - name: myfs
        spec:
          metadataPool:
            replicated:
              size: 3
          dataPools:
            - failureDomain: host
              replicated:
                size: 3
          metadataServer:
            activeCount: 1
            activeStandby: true
        storageClass:
          enabled: true
          isDefault: false
          name: rook-cephfs
          reclaimPolicy: Delete
          parameters:
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: rook-ceph
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
            csi.storage.k8s.io/fstype: ext4

    cephBlockPools: []
    cephObjectStores: []
