---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-ceph-dashboard
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: rook-ceph-dashboard-password # rook-ceph expects this name
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: rook-dashboard
        property: password
