---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
spec:
  interval: 60m
  chart:
    spec:
      chart: rook-ceph
      version: v1.13.0
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
      interval: 60m

  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      remediateLastFailure: true # remediate the last failure, when no retries remain
  uninstall:
    keepHistory: false

  # Values link: https://github.com/rook/rook/blob/release-1.12/deploy/charts/rook-ceph/values.yaml
  values:
    crds:
      enabled: true

    image:
      repository: rook/ceph
      tag: v1.13.0

    pspEnable: false

    monitoring:
      enabled: true

    csi:
      kubeletDirPath: /var/lib/kubelet
      enableCSIHostNetwork: true

    resources:
      requests:
        cpu: 100m
        memory: 256M
      limits:
        memory: 500M
