#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    daemon
    maxconn     4000
    user        root
    group       root

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 5
    timeout http-request    5m
    timeout queue           5m
    timeout connect         30s
    timeout client          15m
    timeout server          15m
    timeout http-keep-alive 30s
    timeout check           30s
    maxconn                 4000

#---------------------------------------------------------------------
# apiserver frontend which proxys to the masters
#---------------------------------------------------------------------
frontend apiserver
    bind :6443
    mode tcp
    default_backend apiserver
    timeout client 4h

#---------------------------------------------------------------------
# round robin balancing for apiserver
#---------------------------------------------------------------------
backend apiserver
    mode tcp
    balance leastconn
    default-server inter 15s downinter 15s rise 2 fall 2 slowstart 60s maxconn 1000 maxqueue 256 weight 100
    option httpchk GET /readyz
    http-check expect status 200

{% for balancing_server in haproxy_balancing_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:6443 check check-ssl verify none
{% endfor %}

listen local_statistics
    bind 127.0.0.1:8822
    mode http
    stats uri /haproxy?stats
    stats realm HAProxy\ statistics
    stats admin if TRUE

listen remote_statistics
    bind :8844
    mode http
    stats uri /haproxy?stats
    stats hide-version
