---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: miniflux
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: miniflux-secret
    creationPolicy: Owner
  data:
    - secretKey: ADMIN_USERNAME
      remoteRef:
        key: miniflux
        property: ADMIN_USERNAME
    - secretKey: ADMIN_PASSWORD
      remoteRef:
        key: miniflux
        property: ADMIN_PASSWORD
