---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname home-assistant
  namespace: &namespace home-automation
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: mosquitto
      namespace: databases
    - name: postgres18
      namespace: databases
    - name: volsync
      namespace: storage
  interval: 1h
  path: "./kubernetes/apps/home-automation/home-assistant/app"
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CAPACITY: 2Gi
      VOLSYNC_CLAIM: home-assistant-config
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: true
