---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-home-assistant
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  interval: 10m
  path: "./kubernetes/apps/home-automation/home-assistant/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-k8s
  wait: true
  dependsOn:
    - name: apps-rook-ceph-cluster
    - name: apps-emqx-cluster
    - name: apps-postgres-cluster
    - name: apps-metallb
