#!/bin/sh

set -ex

IPV4_IP="{{ udmp_external_dns_server_ipv4 }}"
IPV6_IP="{{ udmp_external_dns_server_ipv6 }}"
FORCED_INTFC="{{ udmp_external_dns_devices | join(' ') }}"

for intfc in ${FORCED_INTFC}; do
  if [ -d "/sys/class/net/${intfc}" ]; then
    for proto in udp tcp; do
# enables logging
#      prerouting_rule="PREROUTING -i ${intfc} -p ${proto} ! -s ${IPV4_IP}  ! -d ${IPV4_IP} --dport 53 -j LOG --log-prefix [DNAT-${intfc}-${proto}]"
#      iptables -t nat -C ${prerouting_rule} 2>/dev/null || iptables -t nat -A ${prerouting_rule}
      prerouting_rule="PREROUTING -i ${intfc} -p ${proto} ! -s ${IPV4_IP} ! -d ${IPV4_IP} --dport 53 -j DNAT --to ${IPV4_IP}"
      iptables -t nat -C ${prerouting_rule} 2>/dev/null || iptables -t nat -A ${prerouting_rule}


      # (optional) IPv6 force DNS (TCP/UDP 53) through DNS container
      if [ -n "${IPV6_IP}" ]; then
# enables logging
#        prerouting_rule="PREROUTING -i ${intfc} -p ${proto} ! -s ${IPV6_IP}  ! -d ${IPV6_IP} --dport 53 -j LOG --log-prefix [DNAT-${intfc}-${proto}]"
#        ip6tables -t nat -C ${prerouting_rule} 2>/dev/null || ip6tables -t nat -A ${prerouting_rule}
        prerouting_rule="PREROUTING -i ${intfc} -p ${proto} ! -s ${IPV6_IP} ! -d ${IPV6_IP} --dport 53 -j DNAT --to ${IPV6_IP}"
        ip6tables -t nat -C ${prerouting_rule} 2>/dev/null || ip6tables -t nat -A ${prerouting_rule}

      fi
    done
  fi
done

for proto in udp tcp; do

  iptables -t nat -D POSTROUTING -d ${IPV4_IP} -p ${proto} -m ${proto} --dport 53 -j MASQUERADE -m comment --comment "IPV4 DNS Pi-hole MASQUERADE" || echo ""
  iptables -t nat -A POSTROUTING -d ${IPV4_IP} -p ${proto} -m ${proto} --dport 53 -j MASQUERADE -m comment --comment "IPV4 DNS Pi-hole MASQUERADE"

  if [ -n "${IPV6_IP}" ]; then
    ip6tables -t nat -D POSTROUTING -d ${IPV6_IP} -p ${proto} -m ${proto} --dport 53 -j MASQUERADE -m comment --comment "IPV6 DNS Pi-hole MASQUERADE" || echo ""
    ip6tables -t nat -A POSTROUTING -d ${IPV6_IP} -p ${proto} -m ${proto} --dport 53 -j MASQUERADE -m comment --comment "IPV6 DNS Pi-hole MASQUERADE"
  fi

done
