---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname minecraft
  namespace: &namespace games
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  interval: 30m
  path: "./kubernetes/apps/games/minecraft/app"
  postBuild:
    substitute:
      APP: *appname
      APP_GID: "568"
      APP_UID: "568"
      VOLSYNC_CAPACITY: 4Gi
      VOLSYNC_CLAIM: minecraft-data
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: true
