---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cloudnative-pg-secret
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: postgres
        property: POSTGRES_SUPER_USER
    - secretKey: password
      remoteRef:
        key: postgres
        property: POSTGRES_SUPER_PASSWORD
    - secretKey: S3_ACCESS_KEY
      remoteRef:
        key: cloudnative-pg-backup
        property: S3_ACCESS_KEY
    - secretKey: S3_SECRET_KEY
      remoteRef:
        key: cloudnative-pg-backup
        property: S3_SECRET_KEY
