# Trash
.DS_Store
Thumbs.db
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
# Sops
**/raw.*secrets.yaml
.decrypted~*
*.agekey
# Kubernetes
**/clusterconfig
kubeconfig*
talosconfig*
# Other
.env
*.backup
**/.secrets
.history
*.dmg
*.iso
.task/checksum
