---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minio
spec:
  interval: 60m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      minio:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 100

          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          app:
            image:
              repository: quay.io/minio/minio
              tag: RELEASE.2025-03-12T18-04-18Z

            env:
              MINIO_UPDATE: "off"
              MINIO_BROWSER_REDIRECT_URL: "https://minio.hemma.dev"
              MINIO_SERVER_URL: "https://s3.hemma.dev"
              MINIO_API_CORS_ALLOW_ORIGIN: https://minio.hemma.dev,https://s3.hemma.dev
              MINIO_PROMETHEUS_JOB_ID: minio
              MINIO_PROMETHEUS_URL: https://prometheus.hemma.dev
              MINIO_PROMETHEUS_AUTH_TYPE: public

            envFrom:
              - secretRef:
                  name: minio-secret

            args: ["server", "/data", "--console-address", ":9001"]

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /minio/health/live
                    port: 9000
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
              readiness: *probes

            resources:
              requests:
                memory: 100Mi
                cpu: 100m
              limits:
                memory: 4000Mi

    service:
      app:
        controller: minio
        ports:
          http:
            port: &port-console 9001
          api:
            enabled: true
            port: &port-api 9000

    serviceMonitor:
      app:
        serviceName: minio
        endpoints:
          - port: s3
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
            scrapeTimeout: 10s

    route:
      app:
        hostnames: ["minio.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port-console

      s3:
        hostnames: ["s3.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port-api

    persistence:
      config:
        type: hostPath
        hostPath: /var/mnt/tank/minio
        globalMounts:
          - path: /data
