---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tcpsolis2mqtt
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      tcpsolis2mqtt:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/ahinko/tcpsolis2mqtt
              tag: main@sha256:71cb75eddd6fac8d17af1dfe537aa034d5b88d4880f4d30d41a460a4b6bbbc00

            envFrom:
              - secretRef:
                  name: tcpsolis2mqtt-secret

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 100m
                memory: 64Mi

    service:
      app:
        enabled: false

    persistence:
      config-file:
        type: configMap
        name: tcpsolis2mqtt-configmap
        globalMounts:
          - path: /usr/app/src/config.yaml
            subPath: config.yaml
