---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-unifi
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: external-dns-unifi-secret
    creationPolicy: Owner
  data:
    - secretKey: UNIFI_API_KEY
      remoteRef:
        key: external-dns-unifi
        property: API_KEY
