---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-unifi
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: external-dns
  values:
    fullnameOverride: *app
    podAnnotations:
      secret.reloader.stakater.com/reload: &secret external-dns-unifi-secret

    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.8.1
        env:
          - name: UNIFI_HOST
            value: https://192.168.20.1
          - name: UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                name: *secret
                key: UNIFI_API_KEY
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    triggerLoopOnEvent: true
    policy: sync
    sources:
      - gateway-httproute
      - service
    txtOwnerId: mainframe
    txtPrefix: k8s.mainframe.
    domainFilters:
      - "hemma.dev"
      - "selfy.social"
    serviceMonitor:
      enabled: true
