---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cloudnative-pg
  values:
    crds:
      create: true
    replicaCount: 2
    monitoring:
      podMonitorEnabled: true
      podMonitorMetricRelabelings:
        - action: drop
          sourceLabels: ["__name__"]
          regex: workqueue_(work|queue)_duration_seconds_bucket
        - action: drop
          sourceLabels: ["__name__"]
          regex: controller_runtime_reconcile_time_seconds_bucket
      grafanaDashboard:
        create: false
