---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: coredns
spec:
  chartRef:
    kind: OCIRepository
    name: coredns
    namespace: flux-system
  interval: 30m

  valuesFrom:
    - kind: ConfigMap
      name: coredns-values
