---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radicale
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      radicale:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          enableServiceLinks: false
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/kozea/radicale
              tag: 3.5.10

            resources:
              requests:
                cpu: 600m
                memory: 100M
              limits:
                memory: 512M

    service:
      app:
        ports:
          http:
            port: 5232

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Calendar sync server
          gethomepage.dev/group: Apps
          gethomepage.dev/icon: sh-radicale.svg
          gethomepage.dev/name: Radicale
          gethomepage.dev/app: radicale
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: external
            namespace: networking

    persistence:
      config:
        type: configMap
        name: radicale-config
        globalMounts:
          - path: /etc/radicale/config
            subPath: config.cfg
            readOnly: true

      data:
        type: persistentVolumeClaim
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /data

      auth:
        type: secret
        name: radicale-secret
        globalMounts:
          - path: /config/users
            subPath: users
            readOnly: true
