---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radicale
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      radicale:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/ahinko/docker-radicale
              tag: 3.5.0

            resources:
              requests:
                cpu: 600m
                memory: 100M
              limits:
                memory: 512M

    service:
      app:
        controller: radicale
        ports:
          http:
            port: &port 5232

    route:
      app:
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        type: configMap
        name: radicale-config
        globalMounts:
          - path: /config/config
            subPath: config.cfg
            readOnly: true

      data:
        type: persistentVolumeClaim
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /data

      auth:
        type: secret
        name: radicale-secret
        globalMounts:
          - path: /config/users
            subPath: users
            readOnly: true
