---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: flux-github-webhook-token
  namespace: flux-system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: flux-github-webhook-token-secret
    creationPolicy: Owner
  data:
    - secretKey: token
      remoteRef:
        key: flux-github-webhook-token
        property: token
