---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app reloader
  namespace: &namespace kube-tools
spec:
  interval: 60m
  chart:
    spec:
      chart: reloader
      version: 1.0.48
      sourceRef:
        kind: HelmRepository
        name: stakater-charts
        namespace: flux-system
      interval: 60m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # Values link: https://github.com/stakater/Reloader/blob/master/deployments/kubernetes/chart/reloader/values.yaml
  values:
    reloader:
      reloadStrategy: annotations

      podMonitor:
        enabled: true

      deployment:
        resources:
          requests:
            cpu: 15m
            memory: 184M
          limits:
            memory: 184M
