---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      jellyfin:
        replicas: 1

        pod:
          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.2

            resources:
              requests:
                cpu: 100m
                gpu.intel.com/i915: 1
                memory: 512Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 8000Mi

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.20.222
        ports:
          http:
            port: &port 8096
          discovery:
            port: 7359
            protocol: UDP

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Media server
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-jellyfin.svg
          gethomepage.dev/name: Jellyfin
          gethomepage.dev/app: jellyfin
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /cache

      media:
        type: persistentVolumeClaim
        existingClaim: media-data
        globalMounts:
          - path: /media

      config:
        existingClaim: jellyfin-config
        advancedMounts:
          jellyfin:
            app:
              - path: /config
