---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dragonfly-operator
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    replicaCount: 2
    serviceMonitor:
      enabled: false
    grafanaDashboard:
      enabled: false
      folder: Data
      annotations:
        name: grafana_folder
      labels:
        name: grafana_dashboard
