---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-cloudflare
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.15.2
      sourceRef:
        kind: HelmRepository
        name: external-dns-charts
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app

    podAnnotations:
      reloader.stakater.com/auto: "true"

    interval: 60m
    logLevel: warning
    provider: cloudflare

    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: external-dns-cloudflare-api-key
            key: cloudflare_api_token

    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --cloudflare-proxied
      - --gateway-label-filter=gateway==external

    triggerLoopOnEvent: true
    policy: sync

    sources: ["gateway-httproute"]

    txtPrefix: "k8s."
    txtOwnerId: "default"

    domainFilters:
      - "hemma.dev"

    serviceMonitor:
      enabled: true

    resources:
      requests:
        memory: 100Mi
        cpu: 25m
      limits:
        memory: 250Mi
