---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app karakeep
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      karakeep:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.30.0
            env:
              BROWSER_WEB_URL: http://karakeep-chrome.selfhosted.svc.cluster.local:9222
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_ENABLE_ADBLOCKER: true
              CRAWLER_STORE_SCREENSHOT: true
              CRAWLER_NUM_WORKERS: 1
              CRAWLER_SCREENSHOT_TIMEOUT_SEC: 30
              DATA_DIR: /data
              DISABLE_SIGNUPS: true
              MEILI_ADDR: http://karakeep-meilisearch.selfhosted.svc.cluster.local:7700
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: karakeep-secret
                    key: meilisearch_master_key
              NEXTAUTH_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: karakeep-secret
                    key: encryption_key
              NEXTAUTH_URL: https://karakeep.hemma.dev
              OAUTH_WELLKNOWN_URL: https://pid.hemma.dev/.well-known/openid-configuration
              OAUTH_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: karakeep-secret
                    key: OIDC_CLIENT_SECRET
              OAUTH_CLIENT_ID:
                valueFrom:
                  secretKeyRef:
                    name: karakeep-secret
                    key: OIDC_CLIENT_ID
              OAUTH_PROVIDER_NAME: Pocket-Id
              DISABLE_NEW_RELEASE_CHECK: true
              COREPACK_INTEGRITY_KEYS: 0
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

      chrome:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124
            command:
              - chromium-browser
            args:
              - --disable-audio
              - --disable-audio-output
              - --disable-bluetooth
              - --disable-dev-shm-usage
              - --disable-gpu
              - --headless=new
              - --hide-scrollbars
              - --mute-audio
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
            securityContext:
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

      meilisearch:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - karakeep
                      - key: app.kubernetes.io/instance
                        operator: In
                        values:
                          - karakeep
                  topologyKey: kubernetes.io/hostname
        containers:
          app:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.34.2@sha256:7cd29dc6886cb97475137471668033affb3442bdf9bdad5eedbbfb5189dbf5bc
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            env:
              MEILI_NO_ANALYTICS: true
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: karakeep-secret
                    key: meilisearch_master_key
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 4Gi

    service:
      app:
        primary: true
        controller: *app
        ports:
          http:
            port: &httpPort 3000
      chrome:
        controller: chrome
        ports:
          http:
            port: 9222
      meilisearch:
        controller: meilisearch
        ports:
          http:
            port: 7700

    persistence:
      data:
        existingClaim: karakeep-data
        advancedMounts:
          karakeep:
            app:
              - path: /data
                subPath: karakeep
              - path: /meili_data
                subPath: meilisearch
          meilisearch:
            app:
              - path: /meili_data
                subPath: meilisearch

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Read it later
          gethomepage.dev/group: Apps
          gethomepage.dev/icon: sh-karakeep.svg
          gethomepage.dev/name: Karakeep
          gethomepage.dev/app: karakeep
        hostnames:
          - karakeep.hemma.dev
        parentRefs:
          - name: internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *httpPort
