---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ext-postgres-operator
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: ext-postgres-operator-secret
    creationPolicy: Owner
  data:
    - secretKey: POSTGRES_USER
      remoteRef:
        key: postgres
        property: POSTGRES_SUPER_USER
    - secretKey: POSTGRES_PASS
      remoteRef:
        key: postgres
        property: POSTGRES_SUPER_PASSWORD
