---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ext-postgres-operator
spec:
  interval: 60m
  chart:
    spec:
      chart: ext-postgres-operator
      version: 1.2.3
      sourceRef:
        kind: HelmRepository
        name: ext-postgres-operator-charts
        namespace: flux-system
      interval: 60m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    podAnnotations:
      reloader.stakater.com/auto: "true"

    existingSecret: ext-postgres-operator-secret

    resources:
      requests:
        cpu: 5m
        memory: 32M
      limits:
        memory: 100M
