---
- name: IOT provision Zwave Coordinator
  hosts:
    - zwave-coordinator
  remote_user: zwave
  become: true
  become_method: ansible.builtin.sudo
  roles:
    - role: apt
    - role: ser2net
    - role: readonly
