---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: renovate
resources:
  - ./renovate-operator/install.yaml
components:
  - ../../components/namespace
  - ../../components/alerts
