---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: databases
resources:
  - ./cloudnative-pg/install.yaml
  - ./dragonfly/install.yaml
  - ./ext-postgres-operator/install.yaml
  - ./influxdb/install.yaml
  - ./postgres-backup/install.yaml
components:
  - ../../components/namespace
  - ../../components/alerts
