---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: grafana-secret
    creationPolicy: Owner
  data:
    - secretKey: adminUser
      remoteRef:
        key: grafana
        property: adminUser
    - secretKey: adminPass
      remoteRef:
        key: grafana
        property: adminPass
    - secretKey: OIDC_CLIENT_ID
      remoteRef:
        key: grafana
        property: OIDC_CLIENT_ID
    - secretKey: OIDC_CLIENT_SECRET
      remoteRef:
        key: grafana
        property: OIDC_CLIENT_SECRET
    - secretKey: TESLAMATE_DB_USER
      remoteRef:
        key: postgres
        property: POSTGRES_SUPER_USER
    - secretKey: TESLAMATE_DB_PASSWORD
      remoteRef:
        key: postgres
        property: POSTGRES_SUPER_PASSWORD
