---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      esphome:
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.11.0

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 20m
                memory: 2Gi
              limits:
                memory: 4Gi

    service:
      app:
        ports:
          http:
            port: 6052

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Control your ESP8266/ESP32 based devices
          gethomepage.dev/group: Home Automation
          gethomepage.dev/icon: sh-esphome.svg
          gethomepage.dev/name: ESPHome
          gethomepage.dev/app: esphome
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: networking

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
