---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: zigbee2mqtt
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: zigbee2mqtt-secret
    creationPolicy: Owner
  data:
    - secretKey: ZIGBEE2MQTT_CONFIG_MQTT_USER
      remoteRef:
        key: emqx
        property: X_EMQX_MQTT_USERNAME
    - secretKey: ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD
      remoteRef:
        key: emqx
        property: X_EMQX_MQTT_PASSWORD
