---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mastodon-fakerelay
  namespace: selfhosted
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      fakerelay:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/g3rv4/fakerelay
              tag: 1.0.49

            args:
              - web

            env:
              ASPNETCORE_ENVIRONMENT: "production"
              ASPNETCORE_URLS: "http://+:5000"
              CONFIG_PATH: "/data/config.json"

            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 200Mi

    service:
      app:
        controller: fakerelay
        ports:
          http:
            port: &port 5000

    route:
      app:
        hostnames: ["fakerelay.selfy.social"]
        parentRefs:
          - name: social
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        type: persistentVolumeClaim
        existingClaim: *app
        globalMounts:
          - path: /data
