---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname kitchenowl
  namespace: &namespace selfhosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: postgres-cluster
      namespace: databases
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
    - name: onepassword-store
      namespace: security
  interval: 30m
  path: ./kubernetes/apps/selfhosted/kitchenowl/app
  postBuild:
    substitute:
      APP: *appname
      APP_GID: "568"
      APP_UID: "568"
      VOLSYNC_CAPACITY: 2Gi
      VOLSYNC_CLAIM: *appname
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: true
