---
originRequest:
  http2Origin: true
  noTLSVerify: true

ingress:
  - hostname: selfy.social
    service: &svc https://cilium-gateway-social.kube-system.svc.cluster.local
    originRequest:
      originServerName: ingress.selfy.social
  - hostname: "*.selfy.social"
    service: &svc https://cilium-gateway-social.kube-system.svc.cluster.local
    originRequest:
      originServerName: ingress.selfy.social
  - service: http_status:404
