---
apiVersion: batch/v1
kind: Job
metadata:
  name: restore-home-assistant
  namespace: home-automation
spec:
  template:
    spec:
      containers:
        - name: restore-home-assistant
          image: ghcr.io/ahinko/simple-k8s-backup:v4.2.61
          args:
            - /run.sh
          env:
            - name: FORCE_RESTORE
              value: "1"
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_SECRET_KEY
            - name: MINIO_HOST
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_HOST
            - name: MINIO_BUCKET
              value: "backups"
            - name: BACKUP_NAME
              value: "home-assistant"
          volumeMounts:
            - name: hass-persistent-storage
              mountPath: /home-assistant
      volumes:
        - name: hass-persistent-storage
          persistentVolumeClaim:
            claimName: home-assistant-config
      restartPolicy: Never
  backoffLimit: 4
