---
apiVersion: batch/v1
kind: Job
metadata:
  name: restore-influxdb
  namespace: databases
spec:
  template:
    spec:
      containers:
        - name: restore-influxdb
          image: ghcr.io/ahinko/simple-k8s-backup:v4.2.56
          args:
            - /run.sh
          env:
            - name: FORCE_RESTORE
              value: "1"
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_SECRET_KEY
            - name: MINIO_HOST
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_HOST
            - name: MINIO_BUCKET
              value: "backups"
            - name: BACKUP_NAME
              value: "influxdb2"
          volumeMounts:
            - name: influxdb-storage
              mountPath: /influxdb2
      volumes:
        - name: influxdb-storage
          persistentVolumeClaim:
            claimName: influxdb-data
      restartPolicy: Never
  backoffLimit: 4
