---
apiVersion: batch/v1
kind: Job
metadata:
  name: restore-nextcloud
  namespace: selfhosted
spec:
  template:
    spec:
      containers:
        - name: restore-nextcloud
          image: ghcr.io/ahinko/simple-k8s-backup:v4.2.54
          args:
            - /run.sh
          env:
            - name: FORCE_RESTORE
              value: "1"
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_SECRET_KEY
            - name: MINIO_HOST
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_HOST
            - name: MINIO_BUCKET
              value: "backups"
            - name: BACKUP_NAME
              value: "nextcloud"
          volumeMounts:
            - name: nextcloud-storage
              mountPath: /nextcloud
      volumes:
        - name: nextcloud-storage
          persistentVolumeClaim:
            claimName: nextcloud-config
      restartPolicy: Never
  backoffLimit: 4
