---
apiVersion: batch/v1
kind: Job
metadata:
  name: restore-sonarr-requests
  namespace: downloads
spec:
  template:
    spec:
      containers:
        - name: restore-sonarr-requests
          image: ghcr.io/ahinko/simple-k8s-backup:v4.2.68
          args:
            - /run.sh
          env:
            - name: FORCE_RESTORE
              value: "1"
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_SECRET_KEY
            - name: MINIO_HOST
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_HOST
            - name: MINIO_BUCKET
              value: "backups"
            - name: BACKUP_NAME
              value: "sonarr-requests"
          volumeMounts:
            - name: sonarr-requests-storage
              mountPath: /sonarr-requests
      volumes:
        - name: sonarr-requests-storage
          persistentVolumeClaim:
            claimName: sonarr-requests-config
      restartPolicy: Never
  backoffLimit: 4
