---
apiVersion: batch/v1
kind: Job
metadata:
  name: restore-zigbee2mqtt
  namespace: home-automation
spec:
  template:
    spec:
      containers:
        - name: restore-zigbee2mqtt
          image: ghcr.io/ahinko/simple-k8s-backup:v4.2.74
          args:
            - /run.sh
          env:
            - name: FORCE_RESTORE
              value: "1"
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_SECRET_KEY
            - name: MINIO_HOST
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_HOST
            - name: MINIO_BUCKET
              value: "backups"
            - name: BACKUP_NAME
              value: "zigbee2mqtt"
          volumeMounts:
            - name: zigbee2mqtt-persistent-storage
              mountPath: /zigbee2mqtt
      volumes:
        - name: zigbee2mqtt-persistent-storage
          persistentVolumeClaim:
            claimName: zigbee2mqtt-data
      restartPolicy: Never
  backoffLimit: 4
