---
apiVersion: batch/v1
kind: Job
metadata:
  name: restore-zwave-js-ui
  namespace: home-automation
spec:
  template:
    spec:
      containers:
        - name: restore-zwave-js-ui
          image: ghcr.io/ahinko/simple-k8s-backup:v4.2.60
          args:
            - /run.sh
          env:
            - name: FORCE_RESTORE
              value: "1"
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_SECRET_KEY
            - name: MINIO_HOST
              valueFrom:
                secretKeyRef:
                  name: backups-secrets
                  key: MINIO_HOST
            - name: MINIO_BUCKET
              value: "backups"
            - name: BACKUP_NAME
              value: "zwave-js-ui"
          volumeMounts:
            - name: zwave-js-ui-persistent-storage
              mountPath: /zwave-js-ui
      volumes:
        - name: zwave-js-ui-persistent-storage
          persistentVolumeClaim:
            claimName: zwave-js-ui-config
      restartPolicy: Never
  backoffLimit: 4
