---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mastodon-getmoarfediverse
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: mastodon-getmoarfediverse-secret
    creationPolicy: Owner
  data:
    - secretKey: config.json
      remoteRef:
        key: mastodon-getmoarfediverse
        property: config.json
