---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: immich-secret
    creationPolicy: Owner
  data:
    - secretKey: DB_USERNAME
      remoteRef:
        key: postgres
        property: POSTGRES_SUPER_USER
    - secretKey: DB_PASSWORD
      remoteRef:
        key: postgres
        property: POSTGRES_SUPER_PASSWORD
