---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      server:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.2
            env:
              TZ: "Europe/Stockholm"
              IMMICH_MEDIA_LOCATION: &mediaLocation /usr/src/app/upload
              IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.selfhosted:3003
              DISABLE_REVERSE_GEOCODING: "true"
              REDIS_HOSTNAME: &redisHost "dragonfly.databases.svc.cluster.local"
              REDIS_DBINDEX: &redisDB "2"
              DB_HOSTNAME: "postgres18-rw.databases.svc.cluster.local"
              DB_PORT: 5432
              DB_DATABASE_NAME: "immich"

            envFrom:
              - secretRef:
                  name: immich-secret

            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 4096Mi

      machine-learning:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.2
            env:
              TZ: "Europe/Stockholm"
              REDIS_HOSTNAME: *redisHost
              REDIS_DBINDEX: *redisDB
              MPLCONFIGDIR: "/cache/matplotlib"
              # ML cache folder paths
              MACHINE_LEARNING_CACHE_FOLDER: "/cache"
              TRANSFORMERS_CACHE: "/cache"
              IMMICH_MEDIA_LOCATION: *mediaLocation

            resources:
              requests:
                cpu: 100m
                memory: 274M
              limits:
                memory: 3949M

      # valkey:
      #   containers:
      #     app:
      #       image:
      #         repository: ghcr.io/valkey-io/valkey
      #         tag: 9.0.1

    service:
      server:
        controller: server
        ports:
          http:
            port: &port 2283
          metrics-api:
            port: 8081
          metrics-ms:
            port: 8082
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003
      # valkey:
      #   controller: valkey
      #   ports:
      #     http:
      #       port: 6379

    serviceMonitor:
      server:
        enabled: true
        serviceName: server
        endpoints:
          - port: metrics-api
            scheme: http
            path: /metrics
          - port: metrics-ms
            scheme: http
            path: /metrics

    route:
      server:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Photo management platform
          gethomepage.dev/group: Apps
          gethomepage.dev/icon: sh-immich.svg
          gethomepage.dev/name: Immich
          gethomepage.dev/app: immich
        hostnames: ["photos.hemma.dev"]
        parentRefs:
          - name: external
            namespace: networking
        rules:
          - backendRefs:
              - identifier: server
                port: *port

    persistence:
      matplotlib:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /config/matplotlib

      library:
        type: persistentVolumeClaim
        existingClaim: immich-media
        globalMounts:
          - path: *mediaLocation

      machine-learning-cache:
        type: persistentVolumeClaim
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 50Gi
        advancedMounts:
          machine-learning:
            main:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache

      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp

      tmpfs:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers
