---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      server:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.2.3@sha256:4504d794123c3f5410cc45bbc61e4d7dbcacec1e1b0cd2e599691430c94e5849
            env:
              IMMICH_MEDIA_LOCATION: &mediaLocation /usr/src/app/upload
              DB_HOSTNAME: "postgres18-rw.databases.svc.cluster.local"
              DB_PORT: 5432
              DB_DATABASE_NAME: "immich"
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_USERNAME
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_PASSWORD

            envFrom:
              - configMapRef:
                  name: immich-configmap

            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 4096Mi

      machine-learning:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.2.3@sha256:bf339cbb44af6c2ef25d9128e1da51b2bec0cfd524846a83e3017c21bd71ddb4
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            env:
              MPLCONFIGDIR: "/cache/matplotlib"
              IMMICH_MEDIA_LOCATION: *mediaLocation
            resources:
              requests:
                cpu: 100m
                memory: 274M
              limits:
                memory: 3949M

      valkey:
        containers:
          app:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.0

    service:
      server:
        controller: server
        ports:
          http:
            port: &port 2283
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003
      valkey:
        controller: valkey
        ports:
          http:
            port: 6379

    route:
      server:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Photo management platform
          gethomepage.dev/group: Apps
          gethomepage.dev/icon: sh-immich.svg
          gethomepage.dev/name: Immich
          gethomepage.dev/app: immich
        hostnames: ["photos.hemma.dev"]
        parentRefs:
          - name: external
            namespace: networking
        rules:
          - backendRefs:
              - identifier: server
                port: *port

    persistence:
      matplotlib:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /config/matplotlib

      library:
        type: persistentVolumeClaim
        existingClaim: immich-media
        globalMounts:
          - path: *mediaLocation

      cache:
        type: persistentVolumeClaim
        existingClaim: immich-machine-learning-cache
        globalMounts:
          - path: /cache
            subPath: cache
          - path: /.cache
            subPath: dotCache

      tmpfs:
        type: emptyDir
        advancedMounts:
          server:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers
