---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bazarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      bazarr:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539

          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.6

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                memory: 250M
                cpu: 10m
              limits:
                memory: 400M

    service:
      app:
        ports:
          http:
            port: 6767

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Automatic downloads of subtitles
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: sh-bazarr.png
          gethomepage.dev/name: Bazarr
          gethomepage.dev/app: bazarr
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: networking

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"

      media:
        type: persistentVolumeClaim
        existingClaim: downloads-media
        globalMounts:
          - path: /media
