---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name element-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        homeserver.yaml: |
          server_name: "matrix.hemma.dev"
          pid_file: /data/homeserver.pid
          listeners:
            - port: 8008
              tls: false
              type: http
              x_forwarded: true
              resources:
                - names: [client, federation]
                  compress: false
          database:
            name: psycopg2
            txn_limit: 10000
            args:
              user: {{ .element_db_username }}
              password: {{ .element_db_password }}
              dbname: synapse
              host: postgres18-rw.databases.svc.cluster.local
              port: 5432
              cp_min: 5
              cp_max: 10
          log_config: "/data/matrix.hemma.dev.log.config"
          media_store_path: /data/media_store
          registration_shared_secret: {{ .element_registration_shared_secret }}
          report_stats: true
          macaroon_secret_key: {{ .element_macaroon_secret_key }}
          form_secret: {{ .element_form_secret }}
          signing_key_path: "/data/matrix.hemma.dev.signing.key"
          trusted_key_servers:
            - server_name: "matrix.org"
          # web_client_location: https://element.hemma.dev/
          enable_registration: false
          federation_domain_whitelist: []
        matrix.hemma.dev.signing.key: |
          {{ .element_signing_key }}
        matrix.hemma.dev.log.config: |
          version: 1
          formatters:
            precise:
              format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'
          handlers:
            console:
              class: logging.StreamHandler
              formatter: precise
          loggers:
              _placeholder:
                  level: "ERROR"
              synapse.storage.SQL:
                  level: ERROR
          root:
              level: ERROR
              handlers: [console]
          disable_existing_loggers: false
  dataFrom:
    - extract:
        key: element
      rewrite:
        - regexp:
            source: "(.*)"
            target: "element_$1"
