---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: element
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      synapse:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          enableServiceLinks: false
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539

        containers:
          main:
            image:
              repository: ghcr.io/element-hq/synapse
              tag: v1.146.0
            env:
              SYNAPSE_CONFIG_DIR: /data
              SYNAPSE_CONFIG_PATH: /data/homeserver.yaml
              SYNAPSE_DATA_DIR: /data
              TZ: Europe/Stockholm
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 2Gi

    service:
      synapse:
        ports:
          http:
            port: 8008

    route:
      synapse:
        hostnames: ["matrix.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: networking

    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          synapse:
            main:
              - path: /data

      config:
        type: secret
        name: element-secret
        advancedMounts:
          synapse:
            main:
              - path: /data/homeserver.yaml
                subPath: homeserver.yaml
                readOnly: true
              - path: /data/matrix.hemma.dev.signing.key
                subPath: matrix.hemma.dev.signing.key
                readOnly: true
              - path: /data/matrix.hemma.dev.log.config
                subPath: matrix.hemma.dev.log.config
                readOnly: true
