---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-exporter
spec:
  interval: 60m
  timeout: 20m
  chartRef:
    kind: OCIRepository
    name: prometheus-node-exporter
    namespace: flux-system

  values:
    fullnameOverride: node-exporter

    image:
      registry: quay.io
      repository: prometheus/node-exporter

    prometheus:
      monitor:
        enabled: true
        jobLabel: app.kubernetes.io/instance

        relabelings:
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: kubernetes_node
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: nodename

    resources:
      requests:
        cpu: 23m
        memory: 64M
      limits:
        memory: 64M

    hostNetwork: false
