---
version: "3.8"

services:
{% for ups in ups_devices %}
{% set path = ups | regex_replace('^Bus (\d+) Device (\d+): ID [0-9a-f]+:[0-9a-f]+ (.*)$', '/dev/bus/usb/\\1/\\2') %}
{% set id = loop.index - 1 %}
  ups{{ id }}:
    container_name: ups{{ id }}
    image: ghcr.io/ahinko/nut-upsd:2.8.0
    restart: always
    hostname: nut-ups{{ id }}
    ports:
      - {{ 3493 + id }}:3493
    devices:
      - {{ path }}:{{ path }}
    volumes:
      - {{ nut_config_dir }}/ups{{ id }}:/etc/nut
{% endfor %}
