---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: tainter
spec:
  schedule: "*/15 * * * *"
  concurrencyPolicy: "Forbid"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 5
  startingDeadlineSeconds: 10
  jobTemplate:
    spec:
      backoffLimit: 1
      ttlSecondsAfterFinished: 300
      template:
        spec:
          restartPolicy: Never
          serviceAccountName: tainter-role
          containers:
            # Tainter is a simple job that removes the NoSchedule taint on two of my control planes since the hardware
            # on those control plane is a lot more powerfull than the thrid  control planes. So I want to be able to
            # use that extra horse power and run more workloads on the control planes
            - name: tainter
              image: ghcr.io/ahinko/kubernetes-kubectl:1.29.0
              command:
                - "/bin/sh"
                - "-c"
                - |
                  CURRENT_ZEUS=$(kubectl describe node zeus | grep Taints)

                  if echo "$CURRENT_ZEUS" | grep -q 'NoSchedule'; then
                    echo "Lets remove NoSchedule taint for Zeus!"
                    /usr/local/bin/kubectl taint node zeus node-role.kubernetes.io/control-plane:NoSchedule-
                  else
                    echo "Zeus doesn't have a taint, nothing to do"
                  fi

                  CURRENT_POSEIDON=$(kubectl describe node poseidon | grep Taints)

                  if echo "$CURRENT_POSEIDON" | grep -q 'NoSchedule'; then
                    echo "Lets remove NoSchedule taint for Poseidon!"
                    /usr/local/bin/kubectl taint node poseidon node-role.kubernetes.io/control-plane:NoSchedule-
                  else
                    echo "Poseidon doesn't have a taint, nothing to do"
                  fi
