---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: security
resources:
  - ./external-secrets/install.yaml
  - ./onepassword/install.yaml
  - ./pocket-id/install.yaml
components:
  - ../../components/namespace
  - ../../components/alerts
