apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: silence-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: silence-operator
  values:
    alertmanagerAddress: http://alertmanager.observability.svc.cluster.local:9093
    networkPolicy:
      enabled: false
    image:
      registry: gsoci.azurecr.io
      name: "giantswarm/silence-operator"
      tag: "0.20.0"
