---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: home-ops-runner
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: home-ops-runner-secret
    template:
      data:
        github_app_id: '{{ .github_app_id }}'
        github_app_installation_id: '{{ .github_app_installation_id }}'
        github_app_private_key: '{{ .github_app_private_key }}'
  dataFrom:
    - extract:
        key: github-action-runner-controller
