---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: ${APP}
spec:
  restic:
    accessModes:
      - "${VOLSYNC_SNAP_ACCESSMODES:-ReadWriteOnce}"
    copyMethod: "${VOLSYNC_COPYMETHOD:-Snapshot}"
    moverSecurityContext:
      fsGroup: ${APP_GID:-2000}
      runAsGroup: ${APP_GID:-2000}
      runAsUser: ${APP_UID:-2000}
    pruneIntervalDays: 7
    repository: ${APP}-volsync-restic
    retain:
      daily: 7
      hourly: 24
    storageClassName: "${VOLSYNC_STORAGECLASS:-ceph-block}"
    unlock: u1
    volumeSnapshotClassName: "${VOLSYNC_SNAPSHOTCLASS:-csi-ceph-blockpool}"
  sourcePVC: "${VOLSYNC_CLAIM:-${APP}}"
  trigger:
    schedule: "0 */6 * * *"
