---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: weave-gitops
  namespace: flux-system
spec:
  interval: 60m
  chart:
    spec:
      chart: weave-gitops
      version: 4.0.35
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: weave-gitops-charts
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    annotations:
      reloader.stakater.com/auto: "true"

    logLevel: info

    adminUser:
      create: true
      username: &admin_user admin

    networkPolicy:
      create: false

    metrics:
      enabled: true

    rbac:
      create: true
      impersonationResourceNames:
        - *admin_user
      additionalRules:
        - apiGroups:
            - "infra.contrib.fluxcd.io"
          resources:
            - "terraforms"
          verbs:
            - "get"
            - "list"
            - "patch"

    ingress:
      enabled: true
      className: nginx
      hosts:
        - host: &host "gitops.${SECRET_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host

  valuesFrom:
    - kind: Secret
      name: weave-gitops-secrets
      valuesKey: adminPassword
      targetPath: adminUser.passwordHash
