---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multiscrobbler
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      multiscrobbler:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/foxxmd/multi-scrobbler
              tag: 0.10.3

            envFrom:
              - secretRef:
                  name: multi-scrobbler-secret

            env:
              BASE_URL: https://multiscrobbler.hemma.dev
              SUBSONIC_URL: http://navidrome:4533
              MALOJA_URL: http://maloja:42010
              LASTFM_REDIRECT_URI: https://multiscrobbler.hemma.dev/lastfm/callback
              SPOTIFY_REDIRECT_URI: https://multiscrobbler.hemma.dev/callback

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 5m
                memory: 500M
              limits:
                memory: 1024M

    service:
      app:
        ports:
          http:
            port: 9078

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Music scrobbler
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-multi-scrobbler.svg
          gethomepage.dev/name: Multiscrobbler
          gethomepage.dev/app: multiscrobbler
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: networking

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
