---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app multi-scrobbler
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      multiscrobbler:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/foxxmd/multi-scrobbler
              tag: 0.9.1

            envFrom:
              - secretRef:
                  name: multi-scrobbler-secret

            env:
              BASE_URL: https://multiscrobbler.hemma.dev
              SUBSONIC_URL: http://navidrome:4533
              MALOJA_URL: http://maloja:42010
              LASTFM_REDIRECT_URI: https://multiscrobbler.hemma.dev/lastfm/callback
              SPOTIFY_REDIRECT_URI: https://multiscrobbler.hemma.dev/callback

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 5m
                memory: 500M
              limits:
                memory: 1024M

    service:
      app:
        controller: multiscrobbler
        ports:
          http:
            port: &port 9078


    route:
      app:
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
