---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: alertmanager-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: alertmanager-secret
    creationPolicy: Owner
  data:
    - secretKey: pushover_api_token
      remoteRef:
        key: alertmanager
        property: pushover_api_token
    - secretKey: pushover_api_userkey
      remoteRef:
        key: alertmanager
        property: pushover_api_userkey
