---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: znapzend-id-rsa
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: znapzend-id-rsa-secret
    creationPolicy: Owner
  data:
    - secretKey: id_rsa
      remoteRef:
        key: znapzend-id-rsa
        property: id_rsa

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: znapzend-known-hosts
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: znapzend-known-hosts-secret
    creationPolicy: Owner
  data:
    - secretKey: known_hosts
      remoteRef:
        key: znapzend-known-hosts
        property: known_hosts

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: znapzend-ssh-config
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: znapzend-ssh-config-secret
    creationPolicy: Owner
  data:
    - secretKey: ssh_config
      remoteRef:
        key: znapzend-ssh-config
        property: ssh_config
