---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: znapzend
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      znapzend:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          nodeSelector:
            kubernetes.io/hostname: s01

        replicas: 1
        containers:
          app:
            image:
              repository: oetiker/znapzend
              tag: v0.23.2

            securityContext:
              allowPrivilegeEscalation: true
              capabilities:
                add:
                  - ALL
              privileged: true
              fsGroup: 0

            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup: *probes

    persistence:
      zfs:
        type: hostPath
        hostPath: /dev
        globalMounts:
          - path: /dev

      idrsa:
        type: secret
        name: znapzend-id-rsa-secret
        defaultMode: 384
        globalMounts:
          - path: /root/.ssh/id_rsa
            subPath: id_rsa
            readOnly: true

      knownhosts:
        type: secret
        name: znapzend-known-hosts-secret
        #defaultMode: 384
        globalMounts:
          - path: /root/.ssh/known_hosts
            subPath: known_hosts
            readOnly: false

      sshconfig:
        type: secret
        name: znapzend-ssh-config-secret
        defaultMode: 384
        globalMounts:
          - path: /root/.ssh/config
            subPath: ssh_config
            readOnly: false

    service:
      app:
        enabled: false
