---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: maloja
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: maloja-secret
    creationPolicy: Owner
  data:
    - secretKey: MALOJA_FORCE_PASSWORD
      remoteRef:
        key: maloja
        property: ADMIN_PASSWORD
