---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: games
resources:
  - ./minecraft/install.yaml
  - ./romm/install.yaml
components:
  - ../../components/namespace
  - ../../components/alerts
