---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ext-postgres-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: ext-postgres-operator
      version: 1.2.6
      sourceRef:
        kind: HelmRepository
        name: ext-postgres-operator-charts
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    podAnnotations:
      reloader.stakater.com/auto: "true"

    existingSecret: ext-postgres-operator-secret

    env:
      POSTGRES_HOST: "postgres17-rw.databases.svc.cluster.local"
      POSTGRES_DEFAULT_DATABASE: "postgres"
      POSTGRES_URI_ARGS: ""
      POSTGRES_CLOUD_PROVIDER: ""

    resources:
      requests:
        cpu: 5m
        memory: 32M
      limits:
        memory: 100M
