---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app metallb
spec:
  interval: 60m
  chart:
    spec:
      chart: *app
      version: 0.13.12
      sourceRef:
        kind: HelmRepository
        name: metallb-charts
        namespace: flux-system
      interval: 60m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # Values link: https://github.com/metallb/metallb/blob/main/charts/metallb/values.yaml
  values:
    controller:
      logLevel: warn
      resources:
        limits:
          memory: 100Mi
        requests:
          memory: 25Mi
          cpu: 25m
    speaker:
      logLevel: warn
      resources:
        limits:
          memory: 100Mi
        requests:
          memory: 25Mi
          cpu: 25m

    crds:
      enabled: true
