---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: opencloud
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: opencloud-secret
    creationPolicy: Owner
  data:
    - secretKey: idm-admin-password
      remoteRef:
        key: homelab-admin
        property: password
