---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system
resources:
  - ./descheduler/install.yaml
  - ./fstrim/install.yaml
  - ./reloader/install.yaml
  - ./spegel/install.yaml
components:
  - ../../components/namespace
  - ../../components/alerts
