---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 0 # Change when starting from scratch
            runAsGroup: 568
            runAsNonRoot: false # Change when starting from scratch
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.3.3
            env:
              SECRET_RECORDER_DB_URL:
                valueFrom:
                  secretKeyRef:
                    name: database-homeassistant-user
                    key: POSTGRES_URL

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            resources:
              requests:
                cpu: 100m
                memory: 500M
              limits:
                memory: 1000M

          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.98.2
            args:
              [
                "--auth",
                "none",
                "--disable-telemetry",
                "--disable-update-check",
                "--user-data-dir",
                "/config/.vscode",
                "--extensions-dir",
                "/config/.vscode",
                "--port",
                "8080",
                "/config",
              ]

            env:
              HASS_SERVER: http://localhost:8123
              HASS_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: home-assistant-secret
                    key: VSCODE_TOKEN

            resources:
              requests:
                cpu: 10m
                memory: 100M
              limits:
                memory: 500M

    service:
      app:
        controller: home-assistant
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.20.201
        ports:
          sonos:
            enabled: true
            port: 1400
          http:
            port: &port 8123
            primary: true
            appProtocol: kubernetes.io/wss
          govee:
            enabled: true
            port: 4003
            protocol: UDP
          code-server:
            port: 8080

    route:
      app:
        hostnames: ["hass.hemma.dev"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

      code-server:
        hostnames: ["code.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: 8080

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          home-assistant:
            app:
              - path: /config
            code-server:
              - path: /config

      # https://community.home-assistant.io/t/wth-is-going-on-with-docker-container-installs-and-third-party-integrations-that-need-python-modules/806430/6
      hack:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /.dockerenv
                subPath: .dockerenv
