---
clusterName: mainframe
endpoint: https://192.168.20.30:6443

talosVersion: v1.11.6
kubernetesVersion: v1.34.3

additionalApiServerCertSans:
  - 127.0.0.1 # KubePrism

additionalMachineCertSans:
  - 192.168.20.30
  - 127.0.0.1 # KubePrism

cniConfig:
  name: none

nodes:
  - hostname: n01
    ipAddress: 192.168.20.21
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 88:ae:dd:65:a5:49
        addresses:
          - 192.168.20.21/24
        dhcp: true
    machineSpec: &machine-spec
      mode: metal
      arch: amd64
      bootMethod: disk-image
      imageSuffix: raw.xz
    schematic: &schematic
      customization:
        extraKernelArgs:
          - -init_on_alloc # Less security, faster puter
          - -init_on_free # Less security, faster puter
          - -selinux # Less security, faster puter
          - apparmor=0 # Less security, faster puter
          - i915.enable_guc=3 # Meteor Lake CPU / iGPU
          - init_on_alloc=0 # Less security, faster puter
          - init_on_free=0 # Less security, faster puter
          - intel_iommu=on # PCI Passthrough
          - iommu=pt # PCI Passthrough
          - mitigations=off # Less security, faster puter
          - security=none # Less security, faster puter
          - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU / iGPU
          - talos.auditd.disabled=1 # Less security, faster puter
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/mei
    patches: &patches
      - |-
        apiVersion: v1alpha1
        kind: VolumeConfig
        name: EPHEMERAL
        provisioning:
          diskSelector:
            match: system_disk
          grow: false
          minSize: 100GiB
          maxSize: 100GiB
      - |-
        apiVersion: v1alpha1
        kind: UserVolumeConfig
        name: local-hostpath
        provisioning:
          diskSelector:
            match: system_disk
          minSize: 350GiB

  - hostname: n02
    ipAddress: 192.168.20.22
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 88:ae:dd:68:a1:b6
        addresses:
          - 192.168.20.22/24
        dhcp: true
    machineSpec: *machine-spec
    schematic: *schematic
    patches: *patches

  - hostname: n03
    ipAddress: 192.168.20.23
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 88:ae:dd:68:a3:43
        addresses:
          - 192.168.20.23/24
        dhcp: true
    machineSpec: *machine-spec
    schematic: *schematic
    patches: *patches

  - hostname: s01
    ipAddress: 192.168.20.24
    controlPlane: false
    installDiskSelector:
      serial: "S4EVNM0R816141L"
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: ec:e7:a7:17:ff:4c
        addresses:
          - 192.168.20.24/24
        dhcp: true
    nodeLabels:
      openebs.io/nodeid: s01
    machineSpec: *machine-spec
    kernelModules:
      - name: zfs
    schematic:
      customization:
        extraKernelArgs:
          - -selinux # Less security, faster puter
          - -init_on_alloc # Less security, faster puter
          - -init_on_free # Less security, faster puter
          - apparmor=0 # Less security, faster puter
          - init_on_alloc=0 # Less security, faster puter
          - init_on_free=0 # Less security, faster puter
          - intel_iommu=on # PCI Passthrough
          - iommu=pt # PCI Passthrough
          - mitigations=off # Less security, faster puter
          - security=none # Less security, faster puter
          - talos.auditd.disabled=1 # Less security, faster puter
          - net.ifnames=1 # Enable predictable NIC naming
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/zfs
    patches: *patches

controlPlane:
  patches:
    # Disable search domain everywhere
    - &disableSearchDomainPatch |-
      machine:
        network:
          disableSearchDomain: true

    # Force nameserver
    - &nameServersPatch |-
      machine:
        network:
          nameservers:
            - 192.168.20.1

    # Configure NTP
    - &timeServersPatch |-
      machine:
        time:
          disabled: false
          servers:
            - gbg2.ntp.se
            - sth1.ntp.se

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - kube-system
              - actions-runner-system

    # Enable MutatingAdmissionPolicy
    - |-
      cluster:
        apiServer:
          extraArgs:
            enable-aggregator-routing: "true"
            runtime-config: admissionregistration.k8s.io/v1beta1=true

    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        coreDNS:
          disabled: true
        proxy:
          disabled: true
        scheduler:
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                plugins:
                  score:
                    disabled:
                      - name: ImageLocality
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway

    # Use discovery-service.
    # The previous Kubernetes discovery service is deprecated due to security changes in Kubernetes.
    # https://www.talos.dev/v1.10/talos-guides/discovery/#registries
    # https://github.com/siderolabs/talos/issues/9980
    - &clusterDiscovery |-
      cluster:
        discovery:
          enabled: true
          registries:
            kubernetes:
              disabled: true
            service:
              disabled: false

    - &hostDns |-
      machine:
        features:
          hostDNS:
            enabled: true
            forwardKubeDNSToHost: true
            resolveMemberNames: true

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Kubelet configuration
    - &kubeletPatch |-
      machine:
        kubelet:
          extraArgs:
            image-gc-high-threshold: 70
            image-gc-low-threshold: 65
          extraConfig:
            maxParallelImagePulls: 10
            maxPods: 200
            serializeImagePulls: false
          nodeIP:
            validSubnets:
                - 192.168.20.0/24

    # Custom sysctls
    - &sysctlsPatch |-
      machine:
        sysctls:
          fs.inotify.max_user_instances: "8192"      # Watchdog
          fs.inotify.max_user_watches: "1048576"     # Watchdog
          net.core.rmem_max: "67108864"              # Cloudflared / QUIC
          net.core.wmem_max: "67108864"              # Cloudflared / QUIC
          net.ipv4.neigh.default.gc_thresh1: "4096"  # Prevent ARP cache overflows
          net.ipv4.neigh.default.gc_thresh2: "8192"  # Prevent ARP cache overflows
          net.ipv4.neigh.default.gc_thresh3: "16384" # Prevent ARP cache overflows
          net.ipv4.tcp_fastopen: "3"                 # Send and accept data in the opening SYN packet
          user.max_user_namespaces: "11255"          # User namespaces

    # Configure containerd
    - &containerdPatch |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.cri.v1.images"]
                  discard_unpacked_layers = false
              [plugins."io.containerd.cri.v1.runtime"]
                device_ownership_from_security_context = true

worker:
  patches:
    - *disableSearchDomainPatch
    - *nameServersPatch
    - *timeServersPatch
    - *clusterDiscovery
    - *hostDns
    - *kubeletPatch
    - *sysctlsPatch
    - *containerdPatch
