---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: samba
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      samba:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          app:
            image:
              repository: mbentley/timemachine
              tag: smb@sha256:f6c3d3ee478838a7e93164958eb8d0ebe46e8c727f707f2c0b690251e31d57cb
            env:
              CUSTOM_SMB_CONF: "true"
              EXTERNAL_CONF: "/etc/timemachine/conf"

    persistence:
      smb-conf:
        type: configMap
        name: samba-smb-conf
        globalMounts:
          - path: /etc/samba/smb.conf
            subPath: smb.conf
            readOnly: true

      user1-conf:
        type: secret
        name: samba-user1-conf
        globalMounts:
          - path: /etc/timemachine/conf/user1.conf
            subPath: user1.conf
            readOnly: true

      user2-conf:
        type: secret
        name: samba-user2-conf
        globalMounts:
          - path: /etc/timemachine/conf/user2.conf
            subPath: user2.conf
            readOnly: true

      shares:
        type: persistentVolumeClaim
        existingClaim: samba-data
        globalMounts:
          - path: /opt
            subPath: timemachine
          - path: /shares
            subPath: shares

      run-samba:
        type: emptyDir
        globalMounts:
          - path: /run/samba

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.20.223
        ports:
          tcp445:
            port: 445
          tcp139:
            port: 139
          udp137:
            port: 137
            protocol: UDP
          udp138:
            port: 138
            protocol: UDP
