---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: descheduler
spec:
  interval: 60m
  chart:
    spec:
      chart: descheduler
      version: 0.28.1
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-descheduler-charts
        namespace: flux-system
      interval: 60m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # Values link: https://github.com/kubernetes-sigs/descheduler/blob/master/charts/descheduler/values.yaml
  values:
    kind: Deployment

    podAnnotations:
      configmap.reloader.stakater.com/reload: "descheduler"

    serviceMonitor:
      enabled: true

    resources:
      requests:
        cpu: 15m
        memory: 64M
      limits:
        memory: 143M

    deschedulerPolicy:
      strategies:
        RemoveDuplicates:
          enabled: true

        RemovePodsViolatingNodeTaints:
          enabled: true

        RemovePodsViolatingNodeAffinity:
          enabled: true
          params:
            nodeAffinityType: ["requiredDuringSchedulingIgnoredDuringExecution"]

        RemovePodsViolatingTopologySpreadConstraint:
          enabled: true
          params:
            includeSoftConstraints: true

        RemovePodsViolatingInterPodAntiAffinity:
          enabled: true
          params:
            nodeFit: true

        LowNodeUtilization:
          enabled: false

        RemoveFailedPods:
          enabled: true
          params:
            failedPods:
              includingInitContainers: true
              excludeOwnerKinds: ["Job"]
              minPodLifetimeSeconds: 3600

        RemovePodsHavingTooManyRestarts:
          enabled: true
          params:
            podsHavingTooManyRestarts:
              podRestartThreshold: 100
              includingInitContainers: true

    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - descheduler
              topologyKey: kubernetes.io/hostname
