---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflared
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    configMaps:
      config:
        data:
          config.yaml: |-
            ingress:
              - hostname: "*.selfy.social"
                originRequest:
                  http2Origin: true
                  keepAliveTimeout: 3600s
                  originServerName: ingress.selfy.social
                  tcpKeepAlive: 7200s
                service: https://social.networking.svc.cluster.local
              - service: http_status:404

    controllers:
      cloudflared:
        replicas: 2
        strategy: RollingUpdate

        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: cloudflared

        containers:
          app:
            image:
              repository: mirror.gcr.io/cloudflare/cloudflared
              tag: 2026.2.0
            env:
              NO_AUTOUPDATE: "true"
              TUNNEL_METRICS: 0.0.0.0:8080
            envFrom:
              - secretRef:
                  name: cloudflare-tunnel-secret
            args: ["tunnel", "run"]
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8080
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 6m
                memory: 105Mi
              limits:
                memory: 105Mi

    service:
      app:
        ports:
          http:
            port: 8080

    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 30s

    persistence:
      config:
        type: configMap
        name: cloudflared
        globalMounts:
          - path: /etc/cloudflared/config.yaml
            subPath: config.yaml
            readOnly: true
