---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres18
spec:
  instances: 3
  imageName: ghcr.io/ahinko/postgres18:18.1.1
  primaryUpdateStrategy: unsupervised
  storage:
    size: 100Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: postgres18-local-ceph
        serverName: postgres18-v2
  postgresql:
    parameters:
      max_connections: "100"
      shared_buffers: 128MB
    shared_preload_libraries:
      - vchord.so

  bootstrap:
    initdb: {}

  #   recovery:
  #     source: origin

  # externalClusters:
  #   - name: origin
  #     plugin:
  #       name: barman-cloud.cloudnative-pg.io
  #       parameters:
  #         barmanObjectName: postgres18-local-ceph # same as in old cluster
  #         serverName: postgres18-v2 # same as in old cluster
