---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: slskd
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      slskd:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539

          nodeSelector:
            kubernetes.io/hostname: s01

        containers:
          app:
            image:
              repository: ghcr.io/slskd/slskd
              tag: 0.24.1
            env:
              TZ: Europe/Stockholm
              SLSKD_HTTP_PORT: &port 80
              SLSKD_NO_HTTPS: true
              # SLSKD_NO_SHARE_SCAN: true
              SLSKD_NO_VERSION_CHECK: true
              SLSKD_SLSK_LISTEN_PORT: &soulseekPort 50300
              SLSKD_APP_DIR: /config
              SLSKD_REMOTE_CONFIGURATION: true
              SLSKD_SHARED_DIR: /media/downloads/slskd/shared
              SLSKD_NO_AUTH: true
              SLSKD_DOWNLOADS_DIR: /media/downloads/slskd/complete
              SLSKD_INCOMPLETE_DIR: /media/downloads/slskd/incomplete
              SLSKD_SHARE_FILTER: Thumbs.db$;\.DS_Store$
              SLSKD_RETENTION_LOGS: 1440
              SLSKD_RETENTION_TRANSFERS_UPLOAD_SUCCEEDED: 20160
              SLSKD_RETENTION_TRANSFERS_UPLOAD_ERRORED: 1440
              SLSKD_RETENTION_TRANSFERS_UPLOAD_CANCELLED: 5
              SLSKD_RETENTION_TRANSFERS_DOWNLOAD_SUCCEEDED: 20160
              SLSKD_RETENTION_TRANSFERS_DOWNLOAD_ERRORED: 1440
              SLSKD_RETENTION_TRANSFERS_DOWNLOAD_CANCELLED: 5
            envFrom:
              - secretRef:
                  name: slskd-secret

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 1500Mi

    service:
      app:
        ports:
          http:
            port: *port
          soulseek:
            port: *soulseekPort
            protocol: TCP
            targetPort: *soulseekPort

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Soulseek client
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: sh-slskd.svg
          gethomepage.dev/name: Slskd
          gethomepage.dev/app: slskd
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: networking

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"

      media:
        type: persistentVolumeClaim
        existingClaim: downloads-media
        globalMounts:
          - path: /media
