---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: talos-etcd-s3-keys
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: talos-etcd-s3-keys
    creationPolicy: Owner
  data:
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: minio-backups
        property: MINIO_ACCESS_KEY
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: minio-backups
        property: MINIO_SECRET_KEY
    - secretKey: RESTIC_PASSWORD
      remoteRef:
        key: cluster-settings
        property: VOLSYNC_RESTIC_PASSWORD
