---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: teslamate
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      teslamate:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
          enableServiceLinks: false
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: teslamate/teslamate
              tag: 2.2.0

            envFrom:
              - secretRef:
                  name: teslamate-secret

            env:
              TZ: "Europe/Stockholm"
              MQTT_HOST: "mosquitto.databases.svc.cluster.local"
              DATABASE_NAME: "teslamate"
              DATABASE_HOST: "postgres18-rw.databases.svc.cluster.local"

            resources:
              requests:
                memory: 250Mi
                cpu: 50m
              limits:
                memory: 500Mi

    service:
      app:
        ports:
          http:
            port: 4000

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Monitor your Tesla vehicle's data and status.
          gethomepage.dev/group: Home Automation
          gethomepage.dev/icon: sh-teslamate.svg
          gethomepage.dev/name: TeslaMate
          gethomepage.dev/app: teslamate
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: internal
            namespace: networking
