---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  interval: 30m
  chart:
    spec:
      chart: volsync
      version: 0.12.0
      sourceRef:
        kind: HelmRepository
        name: backube-charts
        namespace: flux-system
      interval: 30m
  values:
    manageCRDs: true
    metrics:
      disableAuth: true
    replicaCount: 2
