---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: lidarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: lidarr-secret
    creationPolicy: Owner
  data:
    - secretKey: LIDARR__API_KEY
      remoteRef:
        key: lidarr
        property: LIDARR__API_KEY
