---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name aliasvault
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        admin_password_hash: |
          {{ .ADMIN_PASSWORD_HASH }}|2025-06-10T00:00:00Z
        data_protection_cert_pass: |
          {{ .DATA_PROTECTION_CERT_PASS }}
        jwt_key: |
          {{ .JWT_KEY }}
        postgres_password: |
          {{ .DB_CONN_STRING }}
  dataFrom:
    - extract:
        key: aliasvault
