---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app node-feature-discovery
spec:
  interval: 60m
  chart:
    spec:
      chart: *app
      version: 0.15.3
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-node-feature-discovery-charts
        namespace: flux-system
      interval: 60m
  maxHistory: 2
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # Values link: https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/deployment/helm/node-feature-discovery/values.yaml
  values:
    worker:
      config:
        core:
          sources: ["custom", "pci", "usb"]
        sources:
          usb:
            deviceClassWhitelist: ["02", "03", "0e", "ef", "fe", "ff"]
            deviceLabelFields: ["class", "vendor", "device"]

      resources:
        requests:
          cpu: 15m
          memory: 64M
        limits:
          memory: 64M
