---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-credentials-secret
  namespace: security
stringData:
  1password-credentials.json: 'op://Homelab/op-connect/CREDENTIALS' # quote

---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-vault-secret
  namespace: security
stringData:
  token: op://Homelab/op-connect/TOKEN

---
apiVersion: v1
kind: Secret
metadata:
  name: homelab-flux-secret
  namespace: flux-system
stringData:
  identity.pub: op://Homelab/flux/FLUX_IDENTITY_PUB
  known_hosts: op://Homelab/flux/FLUX_KNOWN_HOSTS
data:
  identity: op://Homelab/flux/FLUX_GITHUB_DEPLOY_KEY_B64
