---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app navidrome
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      navidrome:
        pod:
          nodeSelector:
            kubernetes.io/hostname: s01

          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539

        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.55.0

            env:
              ND_ENABLEINSIGHTSCOLLECTOR: "false"
              ND_DATAFOLDER: /data
              ND_ENABLEDOWNLOADS: "true"
              ND_ENABLEEXTERNALSERVICES: "false"
              ND_ENABLESHARING: "false"
              ND_ENABLESTARRATING: "false"
              ND_LOGLEVEL: info
              ND_MUSICFOLDER: /media/music/cd
              ND_PORT: &port 4533
              ND_SCANSCHEDULE: 30m
              ND_BASEURL: https://navidrome.hemma.dev

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 5m
                memory: 799M
              limits:
                memory: 799M

    service:
      app:
        controller: navidrome
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["{{ .Release.Name }}.hemma.dev"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"

      media:
        type: hostPath
        hostPath: /var/mnt/pool/media
        globalMounts:
          - path: /media
