---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app emqx-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: *app
      version: 2.2.24
      sourceRef:
        kind: HelmRepository
        name: emqx-charts
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # Values link: https://github.com/emqx/emqx-operator/blob/main/deploy/charts/emqx-operator/values.yaml
  values:
    skipCRDs: false

    image:
      repository: ghcr.io/emqx/emqx-operator
      tag: 2.2.24

    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 40Mi
