---
name: Scan supported k8s versions in Talos

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/scripts/kubernetes-version.sh"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  scan-versions:
    name: Check if we should allow newer Kubernetes versions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: "${{ secrets.HOMEOPS_BOT_APP_ID }}"
          private-key: "${{ secrets.HOMEOPS_BOT_PRIVATE_KEY }}"

      - name: Scan files
        run: |
          .github/scripts/kubernetes-version.sh

      - uses: gr2m/create-or-update-pull-request-action@v1
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          title: "feat(k8s): update allowed Kubernetes version"
          body: "Talos supports a new Kubernetes version. The allowedVersions file has been updated with this new minor version."
          branch: "update-allowed-kubernetes-version"
          path: ".renovate/allowedVersions.json5"
          commit-message: "Update allowedVersions.json5 with new minor version of Kubernetes."
          labels: size/XS, area/kubernetes, type/minor
          update-pull-request-title-and-body: true
