---
name: Scan supported VChord versions in Immich

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/scripts/immich-vchord-allowed-version.sh"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  scan-versions:
    name: Check if we should allow newer VChord versions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: "${{ secrets.HOMEOPS_BOT_APP_ID }}"
          private-key: "${{ secrets.HOMEOPS_BOT_PRIVATE_KEY }}"

      - name: Scan files
        run: |
          .github/scripts/immich-vchord-allowed-version.sh

      - uses: gr2m/create-or-update-pull-request-action@v1
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          title: "feat(immich): update allowed VChord version"
          body: "Immich supports a new VChord version. The allowedVersions file has been updated."
          branch: "update-allowed-vchord-version"
          path: ".renovate/allowedVersions.json5"
          commit-message: "Update allowedVersions.json5 with new VChord version."
          labels: size/XS, area/database, type/minor
          update-pull-request-title-and-body: true
